*{
    padding: 0;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(220, 218, 218);
}

span{
    font-style: italic;
    font-weight: bold;
}

.main-image img{
    height: 550px;
    border-radius: 20px;
}

.footer-img img{
    height: 50px;
    border-radius: 50%;
}

